paper.aux
paper.bbl
paper.blg
paper.log
paper.out
paper.fls
paper.fdb_latexmk
paper-diff.aux
paper-diff.bbl
paper-diff.blg
paper-diff.fdb_latexmk
paper-diff.fls
paper-diff.log
paper-diff.out
paper-diff.tex
paper-full-orig.tex
paper-full.tex
~*
*.pdf
*.txt